/* tablet */
@media (max-width:991px) {
    .general-margin {
        margin-left: 20px;
        margin-right: 20px;
    }
    #accomodation{
        max-width: 56%;
    }
    .card{
        min-width: 45%;
    }
    #populaire{
        width: 35%;
    }
    .rubriques{
        padding-left: 20px;
    }

}
/* Mobile phones */
@media (max-width: 767px) {
    /* Header */
    #header {
        min-width: 100%;
        max-width: 100%;
        margin-left:0;
        margin-right:0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 40px;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    ul.menu li a{
        justify-content: center;
    
    }  
    .general-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .margin-on {
        margin-left: 40px;
        margin-right: 40px;
    }
    .margin-off{
        margin-right: 40px;
        margin-left: 0px;
    }
    #logo{
        width: 25%;
        padding-top: 0px;
    }
    #header nav {
        width: 100%;
    }

    ul.menu {
        padding-top:0px;

    }

    .menu a{
        font-size: 4vw;
        font-weight: normal;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .menu a:link,a:visited{
        border-top: 0px;
        border-bottom: 5px solid var(--color-booki-fond);
    }

    .menu a:hover{
        border-top: 0px;
        border-bottom: 5px solid var(--color-booki-dark);
    }

    /* main search */
    .surtitre{
        margin-right: 60px;
        font-size: 5.2vw;
    }
    .soustitre{
        font-size: 4vw;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    
    #form_search .button_text {
        display: none;
        overflow-x: hidden;
    }
    #town {
        width: 100%;
    }

    #form_search form{
        height: var(--search_height_mobile);
    }

    #input_fields{
        width: 100%;
    }
    #form_search label{
        max-height: var(--search_height_mobile);
        max-width: var(--search_height_mobile);
        border-radius: var(--search_radius_mobile) 0px 0px var(--search_radius_mobile);
    }
    
    .label_desk{
        display: none;
    }
    .label_mobile{
        display: flex;
        min-width: var(--search_height_mobile);
    }
    .label_mobile i{
        max-height: var(--search_height_mobile);
    }
    #form_search input{
        font-size: 4.3vw;
    }

    .demi-icon{
        display: flex;
        box-sizing: border-box;
        min-height: var(--search_height_mobile);
        max-height: var(--search_height_mobile);
    }

    #form_search .button_icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #superposition{
        margin-left: auto;
        margin-right:60px;
        display: flex;
        flex-direction:row;
    }

    /* filters */
    #filtres{
        margin-left: 40px;
    }
    #filters{
        flex-direction: column;
        margin-top: 30px;
        font-size: 3.9vw;
    }

    .only_desk{
        display: none;
    }
    .only_mobile{
        display: flex;
    }
    
    .filter{
        max-height:var(--filter_height_mobile);
        border-radius: var(--filter_radius_mobile);
        border-width: 3px;
    }
    
    .filtercircle{
        min-width: var(--filtercircle_size_mobile);
        height: var(--filtercircle_size_mobile);
        border-radius: var(--filtercircle_radius_mobile);
    }
    
    .filtername {
        padding-left: 10px;
        padding-right: 20px;
    }

    #infos {
        align-items: flex-start;
    }
    #infos_text{
        padding-top: 5px;
        padding-left: 40px;
        font-size: 4vw;
    }

    /* section "orderable" */
    /* hebergements et populaires (hebergements.css)*/
    #orderable{
        flex-direction: column;
    }
    .container-title {
        max-width: 100%;
        font-size: 5vw;
        font-weight: 3;
        margin-right: 30px;
        padding-right: 10px;
    }
    
    .container_bottom{
        padding-left: 0px;;
        margin-top: 50px;
        font-size: 4.4vw;
    }
    #orderable figcaption .h_title{
        font-size: 4vw;
        font-weight: bold;
    }
    #orderable figcaption .h_nuite{
        font-size: 4vw;
    }
    #orderable figcaption p{
        font-size: 3vw;
    }
    .h_nuite {
        margin: 0;
        padding:0;
        line-height: 4vw;
    }
    .h_texte {
        font-size: 3vw;
        font-weight:normal;
    }
    .h_price {
        font-size: 3vw;
        font-weight: bold;
    }
    
    #accomodation{
        max-width: 100%;
        min-width: 100%;
        padding-left: 40px;
    }
    #populaire{
        order: -1;
        width: 100%;
        padding-left: 40px;
        padding-bottom: 80px;
        margin-bottom: 0;
    }
    .container{
        border-radius: 0px;
    }
    .container *{
        box-sizing: border-box;
    }
    .basic_container{
        background-color: white;
    }

    .cards{
        margin:0;
        padding-right: 40px;
    }
    /* max-height permet de controler la hauteur totale d'une vignette hébergement */ 
    .card {
        box-shadow: 0px 5px 20px 5px var(--color-booki-fond);
        min-width: 100%;
        min-height: max-content;
        max-height: 360px;
        border-radius: 40px;
        padding-top: 7px;
        padding-left: 7px;
        padding-right: 7px;    
    }

    .cards_pop{
        margin-right:40px;
        border-radius: 40px;
    }
    /* min-height : permet de controler la hauteur des vignettes "populaires" */
    .card_pop{
        min-width: 100%;
        max-width: 100%;
        min-height: 40vw;
        border-radius: 40px;
        padding: 7px;
        border-width: 5px;
    }
    
    figure.distributed{
        min-width: 100%;
        max-width: 100%;
    }
    figcaption.distributed{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .h_textes{
        padding-top: 10px;
        padding-left: 15px;
    }
    
    /* min-height permet de controler la hauteur prise par une vignette hebergement */
    .h_image{
        min-height: 26vw;
        border-radius: 30px 30px 0 0;
    }

    .h_image_pop{
        min-width: 40%;
        border-radius: 40px 40px 0 0;
    }

    .score{
        font-size: 2.6vw;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    .five_stars .repeatglop{
        min-width: 16.6vw;
        max-width: 16.6vw;
    }
    .five_stars .repeatpasglop{
        display: none;
    }
    .four_stars .repeatglop{
        min-width: 13.2vw;
        max-width: 13.2vw;
    }
    .four_stars .repeatpasglop{
        min-width: 3.3vw;
        max-width: 3.3vw;
    }
    .three_stars .repeatglop{
        min-width: 10vw;
        max-width: 10vw;
    }
    .three_stars .repeatpasglop{
        min-width: 6.6vw;
        max-width: 6.6vw;
    }
    .h_image_pop{
        max-height: 100%;
        width: 40%;
        border-radius: 30px 0px 0px 30px;
    }

    /* Activities */
    /* --img_height : value allows to control activity height */
    :root{
        --figure_height: max-content;
        --img_height: 30vw;
    }
    .container_activity{
        padding: 0px;
        padding-top: 20px;
        margin: 0;
        margin-bottom: 39px;
    }
    #activities {
        margin-left: 40px;
        margin-right: 40px;
    }
    .activities{
        flex-direction: column;
        height: auto;
    }
    .activities_col{
        min-width:100%;
        max-width:100%;    
        display:flex;
        flex-direction: column;
    }
    .activity{
        max-width: 100%;
        min-width: 100%;
        border-radius: 30px;
        align-self: center;
    }
    .activity_img{
        min-width: 100%;
        max-width: 100%;
        border-radius: 30px 30px 0 0;
        max-height: 30vw;
        min-height: 30vw;
    }
    .activity_caption{
        max-height: max-content;
        min-height: max-content;
        padding-left: 30px;        
    }
    .activity_name{
        font-size: 4vw;
        font-weight: bold;
    }
   
    #col4 img {
        min-height: var(--img_height);
        max-height: var(--img_height);
    }

    #vieux_port,#pomegues,#frioul,#calanques,#garde,#longchamp{
        max-height: var(--figure_height);
        min-height: var(--figure_height);
    }
    
    #pomegues_img,#frioul_img,#calanques_img,#garde_img,#longchamp_img {
        max-height: var(--img_height);
        min-height: var(--img_height);
    }
    

    /* FOOTER */
    footer{
        font-size: 3vw;
    }

    .rubriques{
        flex-direction: column;
        padding-left: 15px;
        justify-content: space-evenly;
    }
    .rubrique{
        margin: 20px;
    }
    .titre_rubrique{
        margin-bottom: 30px;

    }
    .articles{
        font-size: 3vw;
    }
}